
.bg-login {
  position: absolute;
  width: 100%;
  background: url('../../images/frying-pan3.png')top right no-repeat, url('../../images/backgroundLogin.svg')top right no-repeat;
  
}

.box-login {
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 400px;
}

.box-login h1 {
  color: #146354;
}

.box-login input {
  font-size: 1.2rem;
  width: 300px;
  height: 25px;
  border-radius: 8px;
  border: 2px solid #FEC0A0;
  padding-left: 10px;
  margin-bottom: 5px;
}

.box-login span {
  display: block;
  margin-top: -20px;
  margin-bottom: 10px;
  text-align: left;
  color: #24997F;
  font-size: 1.1rem;
}

.box-login button:disabled {
  color: white;
  font-size: 1.2rem;
  width: 315px;
  height: 30px;
  border-radius: 8px;
  background-color: #FFEEDF;
  border: none;
}

.box-login button {
  color: white;
  font-size: 1.2rem;
  width: 315px;
  height: 30px;
  border-radius: 8px;
  background-color: #FD8061;
  border: none;
}
