.profile-title {
  text-align: center;
}

.profile-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

}

.profile-box button {
  border: none;
  width: 150px;
  height: 50px;
  color: white;
  margin-bottom: 10px;
  border-radius: 8px;
  background-color: #24997F;
}