.category-box {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category-box button {
  border: 0;
  border-radius: 8px;
  background-color: #24997f;
  color: white;
  font-weight: 700;
  margin: 5px;
  padding: 5px;
  width: 150px;
}

.box-search {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box-search button {
  border: none;
  background-color: #24997f;
  border-radius: 8px;
  color: white;
  font-size: 1.3rem;
  height: 30px;
  margin-bottom: 10px;
  width: 300px;
}

.search-radio-input {
  align-items: baseline;
  display: flex;
  flex-direction: column;
}

.radio-input {
  margin-bottom: 8px;
  margin-top: 8px;
}

.label-radio-input {
  color: #146354;
  font-size: 1.1rem;
  font-weight: 700;
}

.search-input {
  border: 1px solid #24997f;
  border-radius: 8px;
  height: 30px;
  text-align: center;
  width: 300px;
}
