.header-box {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.header-box h1 {
  color: #146354;
}

.profile-icon {
  margin-left: 10px;
}
.search-icon {
  margin-right: 10px;
}