.header-box {
  align-items: center;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 -2px 7px 0 rgba(0, 0, 0, 0.79);
  display: flex;
  height: 60px;
  justify-content: space-between;
  margin-bottom: 10px;
}

.header-title {
  color: #146354;
}

.profile-icon {
  margin-left: 10px;
}

.search-icon {
  margin-right: 10px;
}