body {
  font-family: Archivo, sans-serif;
}

.recipe-photo {
  width: 100vw;
}

.each-item-food {
  background: url('../../images/backgroundImage.svg') top no-repeat;
  background-color: #fec0a0;
  border-radius: 10px;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.32);
  color: white;
  height: 100px;
  margin: 5px;
  padding: 20px;
  text-align: center;
  width: 125px;
}