body {
  font-family: Archivo, sans-serif;
}

.recipe-photo {
  width: 100vw;
}

.like-btn {
  left: 290px;
  position: absolute;
  top: 340px;
  width: 40px;
}

.share-btn {
  left: 220px;
  position: absolute;
  top: 340px;
  width: 40px;
}

.recipe-category-box {
  align-items: center;
  display: flex;
  justify-content: center;
}

.recipe-title {
  color: #146354;
  text-align: center;
}

.recipe-category {
  color: #bfc6dc;
  margin-top: -11px;
}

.recipe-tags {
  color: #bfc6dc;
  margin-top: -11px;
}

.recipe-hifen {
  color: #bfc6dc;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: -11px;
}

.recipe-ingredients {
  align-items: flex-start;
  background-color: #ffeedf;
  border-radius: 8px;
  color: #82889e;
  display: flex;
  flex-direction: column;
  font-family: Archivo, sans-serif;
  margin: 0 11px;
  padding: 11px;
}

.each-ingredient {
  margin-bottom: 4px;
}

.recipe-ingredients-title {
  color: #146354;
  font-size: 1.4rem;
  margin-top: 40px;
  text-align: center;
}

.recipe-instruction-title {
  color: #146354;
  font-size: 1.4rem;
  text-align: center;
}

.recipe-video-title {
  text-align: center;
  color: #146354;
  font-size: 1.4rem;
}

.recipe-instructions {
  align-items: flex-start;
  background-color: #ffeedf;
  border-radius: 8px;
  color: #82889e;
  display: flex;
  flex-direction: column;
  line-height: 20px;
  margin: 0 11px;
  padding: 11px;
  text-indent: 2em;
  text-align: justify;
}

.recipe-video {
  align-items: center;
  background-color: #ffeedf;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  margin: 0 11px;
  padding: 20px;
}

.recipe-recommend-title {
  color: #146354;
  font-size: 1.4rem;
  text-align: center;
}

.card-img {
  border-radius: 50%;
}

.recipe-recommend-card {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recipe-recommend-button {
  align-items: center;
  background-color: #59dbb7;
  border: none;
  border-radius: 8px;
  box-shadow: 0 -2px 7px 0 rgba(0, 0, 0, 0.79);
  color: white;
  display: flex;
  font-size: 1.1rem;
  justify-content: space-around;
  margin-top: 10px;
  padding: 15px;
  width: 100%;
}
